---
layout: default
title: Home
---
       
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            
        {% for post in site.posts limit:10 %}

          <div class="blog-post">
              <h4>{{ post.title }}</h4><p>{{ post.date | date_to_string }}</p>
              
           {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}
              
     
            <a class="readmore" href="{{ post.url }}">Read More</a>

            
         </div>
          {% endfor %}
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->
