---
layout: default
title: Home
---

<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">

        {% for post in paginator.posts %}
          <hr />
          <div class="blog-post">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3><p class="blog-post-meta">{{ post.date | date_to_string }}</p>

           {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
            {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}


            <a class="readmore" href="{{ post.url }}">Read More</a>


         </div>
          {% endfor %}
          <ul class="pager">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
              <li><a href="/">Previous</a></li>
              {% else %}
              <li><a href="/page{{ paginator.previous_page }}">Previous</a></li>
              {% endif %}
            {% endif %}
            {% if paginator.next_page %}
            <li><a href="/page{{ paginator.next_page }}">Next</a></li>
            {% endif %}
          </ul>

<br>
<br>
<br>
<br>
<br>


        </div><!-- /.blog-main -->
