---
layout: default
---


<div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">

<hr>

{% for post in site.posts %}
  {% capture month %} {{ post.date | date: '%m%Y' }} {% endcapture %}
  {% capture nmonth %} {{ post.next.date | date: '%m%Y' }} {% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul>{% endif %}
      <h3>{{ post.date | date: '%B %Y' }}</h3>
      <ul>
    {% endif %}
    <li>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a> </li>
{% endfor %}

          </div><!-- /.blog-post -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




        </div><!-- /.blog-main -->
